body {
    background-color: #ffdf3e;
    box-sizing: border-box;
}

img{
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu{
    background-color: #ffdf3e;
}

.container{
    margin-bottom: 5%;
}

#board{
    text-align: center;
}

#customForm input{
    margin-bottom: 5%;
}

.rowBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.boardSquare{
    background-color: #0dcaf0;
    color: black;
    width: 33px;
    height: 33px;
    border: 1px solid black;
    text-align: center;
}
.boardSquare:hover{
    background-color: #ffdf3e;
}

.boardSquareOpen{
    background-color: #ffdf3e;
    color: black;
    width: 33px;
    height: 33px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

.squareGameOver{
    background-color: white;
    width: 33px;
    height: 33px;
    border: 1px solid black;
}

.squareGameOverClick{
    background-color: red;
    width: 33px;
    height: 33px;
    border: 1px solid black;
}

.checkSquareFlag{
    background-color: white;
    width: 33px;
    height: 33px;
    border: 1px solid black;
}

.checkSquareFlag img{
    width: 95%;
    height: 95%;
}